{% extends "SonataAdminBundle:Form:form_admin_fields.html.twig" %}
{% block meisa_link_widget %}
    <div class="meisa_menu_link_container">

    {% block form_widget %}
        {{ parent() }}
    {% endblock %}
    <span class="glyphicon glyphicon-align-justify"></span>
    <div class="modal fade" id="meisa_links_container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Available links</h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <script>
        function updateLink(elem) {
                $('.meisa_menu_link').val($(elem).attr('link'));
                $('#meisa_links_container').modal('hide');
            }

            $('#{{ form.vars.id }}').next().click(function () {
                return $.ajax({
                    url: '{{ path('available_website_links') }}',
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        $('#meisa_links_container .modal-body').html(data);
                        $('#meisa_links_container').modal('show');
                    }
                });
            });

    </script>
    <style>
        .meisa_menu_link_container{
            position: relative;
        }
        .meisa_menu_link_container span{
            position: absolute;
            right: 0;
            top: 3px;
            font-size: 28px;
            cursor: context-menu;
            background: white;
            padding-left: 3px;
         }
    </style>
    </div>

{% endblock %}